@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
/* Universal selector */
* {
  box-sizing: border-box;
  /* margin: 0 3rem; */
  margin: 0;
  padding: 0;
}

/* Inheritance */
body {
  color: #1b1b1b;
  font-family: "Poppins", sans-serif;
  /* margin: 0 auto; */
  
}
.container{
  width: 1200px;
  margin: 0 auto;
  /* justify-content: center;
  align-items: center; */
}

h1,
h2,
h3,
h4 {
  font-size: 3rem;
  line-height: 2.5rem;
  color: #1b1b1b;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}
h3 {
  font-size: 2rem;
  line-height: 1.5rem;
  margin: 2.5rem 0 1rem 0
}
h4,
p,
li {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
h4 {
  text-align: center;
  margin-top: 1rem;
}
p {
  font-family: "Poppins", sans-serif;
  line-height: 2rem;
  color: #333232;
  margin-bottom: 1rem;
}

ul,ol{
  margin-left: 3rem;
  margin-bottom: 2rem;
}

li {
  /* list-style: none; */
  font-family: "Montserrat", sans-serif;

  line-height: 2rem;
}
/* footer p {
  font-size: 1rem;
  line-height: 1rem;
} */
/* Left at combinining selectors */
#author {
  font-style: italic;
}

#footer {
  font-size: 1rem;
  line-height: 1rem;
}

.main-header{
  background-color: #acaaaa;
  padding: 2rem;
  text-align: center;
  margin-bottom: 4rem;
  /* height: 8rem; */
}

.main-header h1{
  padding: 1rem 0;
}

.post-header{
  margin-bottom: 2.5rem;
  position: relative;
}

.related-author {
  font-size: 1.5rem;
  font-weight: 700;
}

.related {
  list-style: none;
  margin-left: 0;
}

aside {
  border-top: 2px solid #0306c9;
  border-bottom: 2px solid #0306c9;
  padding:   3rem 2.5rem;
  width: 700px
}

header {
  background-color: #ffffff;
}

article{
  margin-bottom: 2.5rem;
}

/* Working with colors */
/* pseudo classes */
li:first-child {
  font-weight: 700;
}
li:last-child {
  font-style: italic;
}

/* li:nth-child(2) {
  color: #0306c9;
} */

/* Styling hyperlinks */
/* LVHA */
a:link {
  background-color: #0306c9;
  color: #ffffff;
  text-decoration: none;
  margin: 0 1rem;
  padding: 0.5rem;
}

a:visited {
  color: #eee9e9;
}

a:hover {
  background-color: #3d3d3f;
  color: #e6e3e3;
}

a:active {
  background-color: #0306c9;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}

/* Inheritance */
li{
  margin: 1rem;
}
/* adding dimensions */
.post-image{
  width: 100%;
  height: auto;
}

/* 019 CSS Theory */
.btn-absolute{
  font-size: 1.5rem;
  padding: 1rem;

  position: absolute;
  cursor: pointer;
  /* top: 100%;
  left: 0;
  right: 50%; */
  bottom: 50px;
  right: 50px;
  border: 2px solid #dadada;
  border-radius: 7px;
}

.btn-absolute:focus{
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

/* pseudo elements */
h1::first-letter{
  font-style: normal;
  margin-right: 5px;
}

h2::first-letter{
 font-style: italic;
 font-size: 6rem;
 font-weight: 700;
  color: #0609da;
}

/* adjacent simblings selector */
h3+p::first-line{
  color: #555555;
}

h2::after{
  content: "TOP";
  background-color: #c9a91d;
  color: #3d3d3f;
  margin-left: 0.5rem;
  font-weight: bold;
  padding: 0.2rem;
  font-size: 1rem;
  display: inline-block;
  position: absolute;
  top: -1rem;
  right: -1rem;
}

/* FLOATS */
/* author-img{
  float: left;
  margin-bottom: 1rem;
}

.author{
  float: left;
  margin-top: 1rem;
  margin-left: 1.5rem;
}

h1{
  float: left;
}
nav{
  float: right;
}

.clear{
  clear:both
}


article{
width: 760px;
float: left;
}

aside{
  width: 400px;
  float: right;
}

footer{
  clear: both;
} */

/* FLEX BOX */
.main-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.author-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.related-post{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.related-author{
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
}

.related-link:link{
  font-size: 1.2rem;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 4px;
  display: block;
}