@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
/* Universal selector */
* {
  box-sizing: border-box;
  /* margin: 0 3rem; */
}

/* Inheritance */
body {
  color: #1b1b1b;
  font-family: "Poppins", sans-serif;
  /* margin: 0 auto; */
}

h1,
h2,
h3,
h4 {
  font-size: 3rem;
  line-height: 2.5rem;
  color: #1b1b1b;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  line-height: 2rem;
}
h3 {
  font-size: 2rem;
  line-height: 1.5rem;
}
h4,
p,
li {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
h4 {
  text-align: center;
}
p {
  font-family: "Poppins", sans-serif;
  line-height: 2rem;
  color: #333232;
}

li {
  /* list-style: none; */
  font-family: "Montserrat", sans-serif;

  line-height: 2rem;
}
/* footer p {
  font-size: 1rem;
  line-height: 1rem;
} */
/* Left at combinining selectors */
#author {
  font-style: italic;
}

#footer {
  font-size: 1rem;
  line-height: 1rem;
}

.related-author {
  font-size: 1.5rem;
  font-weight: 700;
}

.related {
  list-style: none;
}

aside {
  border-top: 2px solid #0306c9;
  border-bottom: 2px solid #0306c9;
}

header {
  background-color: #ffffff;
}

/* Working with colors */
/* pseudo classes */
li:first-child {
  font-weight: 700;
}
li:last-child {
  font-style: italic;
}

/* li:nth-child(2) {
  color: #0306c9;
} */

/* Styling hyperlinks */
/* LVHA */
a:link {
  background-color: #0306c9;
  color: #ffffff;
  text-decoration: none;
}

a:visited {
  color: #eee9e9;
}

a:hover {
  background-color: #3d3d3f;
  color: #e6e3e3;
}

a:active {
  background-color: #0306c9;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}

/* Inheritance */
